*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'PT Sans', sans-serif;
}

a{
    text-decoration: none;
}

p{
    line-height: 1.5em;
}

img{
    width: 100%;
    display: block;}
/* utility class */

.padding-sides{
    padding-inline: 30px;
}

.wrapper{
    max-width: 1140px;
    margin-inline: auto;
}

.button{
    padding: 10px 18px 10px;

    border-radius: 30px;

    background-color: white;
    color: black;    
    
}

.button-blu{
    padding: 10px 46px 10px;

    border-radius: 30px;

    background-color: #0084fd;

    font-weight: 700;
    color: white;  

}

.button-circle{
    background-color: #9792e4;
}



/* navbar */

nav{
    background-color: #0084fd;

}

.container-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-block: 28px;
}


.container-link span{
    
    color: white;
    font-size: 1.5em;
}

.container-link ul{
    display: none;
}

/* section cards */

.container-cards{
    display: flex;
    flex-direction: column;
    gap: 20px;

    margin-top: 40px;
    margin-bottom: 50px;
}

.card {

    padding: 20px 20px 0px;
    
    text-align: center;

    border-radius: 15px;
    background-color: #b5ddff ;

    
}

.card-icon{
    margin-bottom: 22px;
    
    font-size: 4em;
    color: #0084fd;
}

.card h3{
    margin-bottom: 40px;

    font-size: 1.5em;
    font-weight: 700;
    color: #0084fd;
}

.card p{
    margin-bottom: 40px;

    font-weight: bold;
    color: #5a6e7f;
}


.card.large {
    display: flex;
    flex-direction: column;

    padding: 40px 30px 0px;

    text-align: left;
    

    /* test */
    flex-grow: 1;
    
}

.card-left{
    flex-grow: 1;
    
    margin-bottom: 40px;
}


.card-right{
    flex-grow: 1;

}


/* section planning */

#planning{
    background-color: #9792e4;   
    padding-block: 50px;
}

.container-planning{
    display: flex;
    flex-direction: column;
    
}

.container-planning .col-left{
   
    color: white;
}

.container-planning .col-left h2{
    padding-block: 84px 52px;

    font-size: 2em;
}

.container-planning .col-left p{
    margin-bottom: 38px;
}

.container-planning .col-right{
    padding: 34px 20px;

    border-radius: 50px;

    background-color: white;
    text-align: center;
}

.container-planning .col-right h2{
    padding-block: 26px;

}

.container-planning .col-right p{
    font-style: italic;
    margin-bottom: 40px;
    
}


/* section testimonials */

#testimonials{
    padding-block: 40px;
    text-align: center;
}

#testimonials h2{
    margin-bottom: 20px;

    text-transform: uppercase;
    font-size: 1em;
    font-weight: 400;
}

#testimonials .wrapper > span{
    display: block;
    margin-bottom: 20px;

    font-weight: 700;
    font-size: 2em;
    color: #9792e4;
}


.testimonial{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    margin-top: 30px;
    
    padding: 30px 16px ;
    border-radius: 50px;
    
    color: white;
    
    background-color: #9792e4;
    
}
.testimonial-img{
    position: relative;
    overflow: hidden;

    width: 200px;
    height: 200px;

    margin-bottom: 24px;
    
    border-radius: 50%;
    
}

.testimonial img{
    width: auto;
    height: 100%;
    margin-left:-50px ;
}

.testimonial-text p{
    margin-bottom:35px;
}

.testimonial-text span{
    font-size: 1.5em;
}


.testimonial-name{
    text-transform: uppercase;
    font-weight: bold;
}
/* section working with us */

#with-us{
    padding-block: 20px;

    text-align: center;

    background-color: #9792e4;
}

.container-tiles{
    display: flex;
    flex-direction: column;
    gap: 10px;

    padding-top: 30px;
}

.tile{

    background-color: white;
    /* test */
    height: 400px;
    
}

/* section about us */
#about-us{
    padding-block: 20px;
}

.container-about-us{
    display: flex;
    flex-direction: column;
}

.col-text{

    /* test */
    border: 1px solid black;
    height: 900px;
}

.col-img{

    /* test */
    height: 400px;
    border: 1px solid black;
}

/* section pricing */

#pricing{
    padding-block: 30px;

    text-align: center;

    background-color: #9792e4;
}


/* footer */

footer{
    text-align: center;
    background-color: #333333 ;
}










/* responsive */

@media screen and (min-width: 768px){

    /* section card - tiles expand */
   
    .container-cards{
        flex-direction: row;
        flex-wrap: wrap;
    }

    .card{
        width: calc(100% / 3 - 20px / 3 * 2);
        
    }

    .card.large {
       width: calc(100% / 3 * 2 - 20px);

        display: flex;
        flex-direction: column;

    }
    .card-left{
        width: 100%;

    }
    
    .card-right{
        width: 50%;    
       
    }

    /* section testimonials */

    .testimonial{
        
        flex-direction: row;
        gap: 30px ;
        
        padding: 30px 50px 30px 16px ;
        
    }
    
    .testimonial-text{
        width: 70%;
        text-align: start;
    }
    
    

    .container-tiles{
        flex-direction: row;
        flex-wrap: wrap;
    }

    .tile{
        width: calc(100% / 2 - 10px);
    }

    .container-about-us{
       flex-direction: row;
    }
    
    .col-text{
        width: 60%;

    }
    
    .col-img{
        width: 40%;
        
    }

    
}

@media screen and (min-width: 992px) {
    
    
    /* navbar - hamburger icon to links */
    
    .container-link span{
        display: none;
    }
    
    .container-link ul{
        display: flex;
        gap: 50px;
        list-style: none;
        
    }
    
    .container-link li a{
        text-decoration: none;
        color: white;
    }
    
    .container-link a.button {
        color: black;
    }
    
    /* section card - tiles expand */

    .card.large {
        /* width: calc(100% / 3 * 2 - 20px); */
        width: calc(100% / 3 * 2 - 20px);

        display: flex;
        flex-direction: row;
        gap: 20px;

    }
    .card-left{
        width: 60%;

    }
    
    .card-right{
        width: 40%;
        align-self: flex-end;    
       
    }
    
    /* section planning */
    
    .container-planning{
        display: flex;
        flex-direction: row;
        gap: 70px;
            
    }
    
    .container-planning .col-left{
        width: 50%;
        
    }
    .container-planning .col-right{
        width: 50%;
        align-self: flex-end;

        
    }

    .wrapper.container-planning{
        max-width: 880px;
    }

    .container-planning .col-right img{        
        width: 60%;
        margin: auto;
    }
    
   
    /* section testimonials */

    .testimonial{
        
        gap: 60px ;
        
        
        
    }

    .container-tiles{
        flex-direction: row;
        flex-wrap: wrap;
    }

    .tile{
        width: calc(100% / 3 - 20px);
        
    }

    
}

@media screen and (min-width: 1200px) {
    

    
    
}

